<h1>
  {{title}}
</h1>
<md-card>
   <button md-raised-button color="primary" (click)=add()>Add Object</button>
   <button md-raised-button color="primary" (click)=listPush()>List Push</button>
   <button md-raised-button color="primary" (click)=listRemove()>List Remove</button>
   <button md-raised-button color="primary" (click)=listUpdate()>List Update</button>

      <button md-raised-button color="primary" (click)=objUpdate()>Object Update</button>
      <button md-raised-button color="primary" (click)=objSet()>Object Set</button>
      <button md-raised-button color="primary" (click)=objRemove()>Object Remove</button>
   
</md-card>
